<%= form_for(@artigo) do |f| %>
  <% if @artigo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artigo.errors.count, "error") %> prohibited this artigo from being saved:</h2>

      <ul>
      <% @artigo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :corpo %><br />
    <%= f.text_area :corpo %>
  </div>
  <div class="field">
    <%= f.label :publicacao %><br />
    <%= f.datetime_select :publicacao %>
  </div>
  <div class="field">
    <%= f.label :resumo %><br />
    <%= f.text_field :resumo %>
  </div>
  <div class="field">
    <%= f.label :localizacao %><br />
    <%= f.text_field :localizacao %>
  </div>
  <div class="field">
    <%= f.label "Categorias" %><br />
    <% for categoria in Categoria.all %>
	   <%= check_box_tag 'artigo[categoria_ids][]', categoria.id, 
	   @artigo.categoria_ids.include?(categoria.id), :id => dom_id(categoria) %>
	   <%= label_tag dom_id(categoria), categoria.nome, :class => "check_box_label" %>	
    <% end %>
</div>
  <div class="actions">
       <%= submit_or_cancel(f) %>
  </div>
<% end %>
