<%= div_for comentario do %>
	<p>
		<b><%= comentario.nome %> &lt;<%= comentario.email %>&gt; disse:</b> 
		<% if @artigo.proprio? current_user %>
			<span class='actions'>
				<%= link_to "Delete", [@artigo, comentario], :confirm => "Confirma exclusão?", :method => :delete, :remote  => true %>
			</span>
		<% end %>	
	</p>
    <p>
		<%= comentario.corpo %>	
	</p>	
<% end %>